include README.md
recursive-include octoprint_TemperatureLegendMover/templates *
recursive-include octoprint_TemperatureLegendMover/translations *
recursive-include octoprint_TemperatureLegendMover/static *
