<form id="temperatureLegendMover_plugin_settings" class="form-horizontal" >

    <h3>Temperature Legend Mover - Settings</h3>

    <div class="control-group">
        <label class="control-label">Position of the Legend:</label>
        <div class="controls">
            <label class="radio">
                <input type="radio" name="legendPositionMode" value="nw" data-bind="checked: pluginSettings.legendPositionMode"> &nbsp;&nbsp;North-West
            </label>
            <label class="radio">
                <input type="radio" name="legendPositionMode" value="ne" data-bind="checked: pluginSettings.legendPositionMode"> &nbsp;&nbsp;North-East
            </label>
            <label class="radio">
                <input type="radio" name="legendPositionMode" value="sw" data-bind="checked: pluginSettings.legendPositionMode"> &nbsp;&nbsp;South-West
            </label>
            <label class="radio">
                <input type="radio" name="legendPositionMode" value="se" data-bind="checked: pluginSettings.legendPositionMode"> &nbsp;&nbsp;South-East
            </label>
        </div>
    </div>

</form>
